body {
    background-image: url('../images/metalBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    color: white;
    font-family: 'Cutive Mono', monospace;
}

a {
    color: orange;
}

a:hover {
    text-decoration-style: dotted
}

p {
    background-color: rgba(150,150,150,.8);
    padding: 0.5em;
    border-radius: 3px;
    font-family: 'Roboto Slab', serif;
    border: 1px solid black;
    text-align: justify;
}

table {
    border: 1px solid black;
    border-radius: 5px;
    border-spacing: 0px;
    border-collapse: separate;
}

h2 {
    margin-top: 2em;
}

img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid black;
}

.highlight {
    background-color: rgba(150,150,150,.8);
    padding: 0.5em;
    border-radius: 3px;
    margin-bottom: 2em;
    font-family: 'Roboto Slab', serif;
    border: 1px solid black;
}

.sidebar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.warningHolder {
    background: url(../images/ze_germans.jpg);
    border-radius: 3px;
    border: 1px solid black;
    height: 120px;
    margin-bottom: 2em;
    background-position-y: 500px;
}


.warning {
    font-size: 5em;
    color: rgb(255, 50, 50);
    text-align: center;
    font-weight: 600;
}

.hidden {
    display: none;
}

.modifier {
    font-style: italic;
    font-weight: bold;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}